<title>Home</title>
</head>

<body>
 <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/members">Rate Your Roommate</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><form class="pure-form">
                        <input type="text" class="pure-input-rounded">
                        <button type="submit" class="pure-button">Search</button>
                        </form></li>
                    <li class="pure-menu-item"><a href="/rating" class="pure-menu-link">Rate a Roommate</a></li>
                    <li class="pure-menu-item"><a href="/profile" class="pure-menu-link-1">Profile</a></li>
                    <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link"> Logout</a></li>
                </ul>
            </div>
        </div>
    <br><br>
<div class="container-1">
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head"> Welcome <span class="member-name"></span></h1>
        <p class="splash-subhead">
            What do you want to do?
        </p>
        <p>
            <a href="/advancedsearch" class="pure-button pure-button-primary"> Advanced Search</a>
            <a href="/profile" class="pure-button pure-button-primary">Profile</a>
        </p>
    </div>
</div>
</div>

    <div class="footer l-box is-center">
        Copyright &copy; 2020
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>