<title>Home</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/members">Rate Your Roommate</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <form class="pure-form">
                        <input type="text" class="pure-input-rounded" placeholder="search for a roommate"
                            id="searchBar">
                        <button type="submit" class="pure-button pure-button-primary" id="submitSearch">Search</button>
                    </form>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link"><button class="pure-button-1"> <i
                                class="fa fa-cog"></i></button></a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/rating" class="pure-menu-link">Rate</a></li>
                        <li class="pure-menu-item"><a href="/advancedsearch" class="pure-menu-link">Search</a></li>
                        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link">Profile</a></li>
                        <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-1">
        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head"> Welcome <span class="member-name"></span></h1>
                <p class="splash-subhead">
                    What do you want to do?
                </p>
                <p>
                    <a href="/advancedsearch" class="pure-button pure-button-primary">Advanced Search</a>
                    <a href="/profile" class="pure-button pure-button-primary">Profile</a>
                </p>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script type="text/javascript" src="js/searchbar.js"></script>