<title>Profile</title>
</head>

<body>
 <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/members">Rate Your Roommate</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><form class="pure-form">
                        <input type="text" class="pure-input-rounded">
                        <button type="submit" class="pure-button">Search</button>
                        </form></li>
                    <li class="pure-menu-item"><a href="/profile" class="pure-menu-link-1">Profile</a></li>
                    <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link"> Logout</a></li>
                </ul>
            </div>
        </div>
    
<       <div class="splash-container-1">
            <div class="splash">
                <h1 class="splash-head-1">
                    's Profile</span></h1>
                <div class="pure-g-1-5"> Gender 
                   
                </div>
                <div class="pure-g-1-5"> 
                    Pets </div>
                <div class="pure-g-1-5"> 
                    Children </div>
                <div class="pure-g-1-5"> 
                    Job </div>
                <div class="pure-g-1-5"> 
                    Past Roommate's Review </div>
            </div>
        </div>
    
      
        
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/profile.js"></script>