<title>Reviews</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="#">Rate Your Roommate</a>
            <!-- Placeholder for Review input using handlebars-->
            <label for="reviews">Reviews</label>
            <form input="reviews" placeholder="Leave a Review" value="review"></form>



        </div>
    </div>
    <br><br>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/profile.js"></script>