<link href="../stylesheets/style.css" rel="stylesheet">
<title>Search Ratings</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/members">Rate Your Roommate</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <form class="pure-form">
                        <div class="search">
                            <input type="text" placeholder="Search..." id="searchBar">
                            <span class="fa fa-search" id="submitSearch"></span>
                        </div>
                    </form>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link"><button class="pure-button-1"> <i
                                class="fa fa-cog"></i></button></a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/advancedsearch"
                                class="pure-menu-link quick-link">Search</a></li>
                        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link quick-link">View Profile</a>
                        </li>
                        <li class="pure-menu-item"><a href="/edit-profile" class="pure-menu-link quick-link">Edit
                                Profile</a></li>
                        <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link quick-link"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="pure-g">
        <div class="content-search pure-u-md-1-2">
            <div class="header">
                <h4> Here is {{#each person}} {{name}}</h4>
                <div class="posts">
                    <section class="post">
                        <header class="post-eader">
                            <h5 class="post-title-1"> What do you want to do? </h5>
                        </header>
                        <p>
                            <ul>
                                <button type="submit" class="pure-button pure-button-primary" id="writeReview" data-id="{{id}}">
                                    Leave review
                                </button>

                                <button type="submit" class="pure-button pure-button-primary" id="readReviews" data-id="{{id}}">
                                    Read reviews
                                </button>
                                {{/each}}
                            </ul>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                            <script type="text/javascript" src="../js/search.js"></script>
                            <script type="text/javascript" src="../js/searchbar.js"></script>
                            {{!-- <script type="text/javascript" src="/public/js/search.js"></script> --}}
                            {{!-- <script type="text/javascript" src="/public/js/searchbar.js"></script> --}}