<title>Search Ratings</title>
</head>
<body>
 <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="#">Rate Your Roommate</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="search.handlebars" class="pure-menu-link">Search Ratings</a></li>
                    <li class="pure-menu-item"><a href="rating.handlebars" class="pure-menu-link">Rate a Roommate</a></li>
                    <li class="pure-menu-item"><a href="profile.handlebars" class="pure-menu-link">Profile</a></li>
                    <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link"> Logout</a></li>
                </ul>
            </div>
        </div>
    <br><br>