
h2 {
  margin-top: 15%;
}
h3 {
  margin-top: 50%;
  font-weight: 300;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    line-height: 1.7em;
    font-size: 13px;
    background: url(./images/bike-665925_1920.jpg);
    color: white;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a:hover,
a:focus {
  text-decoration: underline;
}

#email-input, #password-input{
    margin: auto;
}

.home-menu {
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  background-color: white;
  float: right;
}

.home-menu .pure-menu-heading {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 120%;
  float: left;
}

.home-menu .pure-menu-selected a {
  color: gainsboro;
}

.home-menu .pure-button-2 a:hover,
.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}
.home-menu .pure-menu-link{
  text-align: left;
  margin-right: 10px;
}

h1 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px #3c3c3c
}

/* Styling for star rating system */
div.stars {
    width: 270px;
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/*search input */
.search { 
  position: relative; 
  }

.search input { 
  text-indent: 30px;
  color: black;}

  /*search icon*/
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 15px;
  color: dodgerblue
}

/* Clear floats */
.search::after {
  content: "";
  clear: both;
  display: table;
}


.splash-head-1 {
  float: left;
  font-size: 350%;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 30%;
}

.splash-container-2 {
  padding-left: 10%;
  text-align: left;
  background-color:gainsboro;
  color: black;
}

.splash-container {
  z-index: 1;
  /* The following styles are required for the "scroll-over" effect */
  width: 40%;
  height: 60%;
  top: 0;
  left: 0;
  position: fixed !important;
}

/*.splash-container-1 {
  z-index: 1;
  The following styles are required for the "scroll-over" effect 
  width: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
} */

.pure-input-1 {
  text-align: center;
  color: #111;
}

.pure-input-2 {
  text-align: left;
  color: black;
  width: 60%;
}

.pure-input-rounded {
  text-align: center;
  color: #111;
}

.pure-g-1-2 {
text-align: center;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  margin: auto;
  position: fixed;
  top: 200px; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px #3c3c3c;
}

.splash-head-1 {
  text-align: left;
}
.splash-container-1 {
  z-index: 1;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash-1 {
  text-shadow: 2px 2px 5px #3c3c3c;;
}


.pure-g-1-5 {
  text-align: left;
  text-shadow: 2px 2px 5px #3c3c3c;
}

.pure-button {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.pure-button-1 {
  background-color: transparent;
  border: transparent;
}

.splash-subhead {
  letter-spacing: 0.05em;
  font-size: 2em;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/*for the layout*/
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
  margin-inline-start: auto;
  color: #111;
}

.header {
  text-align: center;
  margin: 3em auto;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}

.brand-title {
  font-size: 200%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(244, 250, 253);
  padding-top: 20%;
}
.brand-tagline {
  font-size: 150%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content {
  padding:5%;
  background-color: gainsboro;
  opacity: .8;
}
.post {
  padding-bottom: 4em;
}
.post-title {
  font-size: 3em;
  color: black;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 2em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: black;
  line-height: 1.5em;
}
.post-meta {
  color: black;
  font-size: 90%;
  margin: 0;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

#login-container {
  text-align: center;
  color: #3c3c3c;
  width: 40%;
  margin: auto;
  padding-bottom: 10%;
  position: absolute;
  top: 10%; left: 0; 
  bottom: 20%; right: 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#signup-container {
    text-align: center;
    color: #3c3c3c;
    width: 40%;
    margin: auto;
    position: absolute;
    top: 10%; left: 0; bottom: 20%; right: 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
  }
  /* This is the class used for the footer */
.footer {
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  height: auto;
  text-align: center;
  padding: auto;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

#review-container {
  /* absolute center .splash within .splash-container */
  width: 50%;
  margin: auto;
  position: fixed;
  top: 15%; left: 0; bottom: 10%; right: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px #3c3c3c;
  background-color: white;
  border-radius: 5px;
}

#review-content {
    width: 80%;
    height: 32vh;
}

.review-header{
    color: #111;
    text-shadow: none;
    margin-top: 5%;
    line-height: 40px;
    margin-bottom: 2%;
}

#profile-container {
    background-color: white;
    color: #111;
    text-shadow: none;
    top: 10px; left: 0; bottom: 0; right: 0;
    border-radius: 10px;
    padding: 0 15px;
    width: 35%;
    height: 60vh;
}

.profile-name {
    color: #111;
    text-shadow: none;
    margin-top: 0;
}

.profile-att {
    text-shadow: none;
    display: flex;
    line-height: 14px;
}

#profile-pic{
    margin: 10px 0;
    border-radius: 50%;
}

#edit-container{
  /* absolute center .splash within .splash-container */
  width: 35%;
  margin: auto;
  padding: 20px 30px;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: black;
  text-shadow: none;
  background-color: white;
  height: 70vh;
  border-radius: 10px;
}

.att-type{
    margin: 0;
    /* display: inline; */
    padding-bottom: 20px;
}

.att-opt{
    margin-left: 10px;
}

#updateProfile {
    background-color: #228b22;
}

.quick-link {
    padding: 8px;
}

#about{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.epb {
    margin-top: 5px;
}

.epb a{    
    font-size: 14px;
    text-decoration: none;
    color: #0000EE;
}

.epb a:hover{
    text-decoration: underline;
}

/* Media query for small mobile devices */

@media screen and (min-width: 701px) and (max-width: 1100px) { 
    #profile-container {
        width: 50%;
    }
}

@media screen and (min-width: 601px) and (max-width: 700px) { 
    #edit-container {
        width: 46%;
    }
    #profile-container {
        width: 80%;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) { 
    #edit-container {
        width: 55%;
    }
    #profile-container {
        width: 80%;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) { 
    #edit-container {
        width: 80%;
    }
    #profile-container {
        width: 85%;
    }
}

@media screen and (max-width: 39em) { 
    #review-container {
        width: 90%;
        top: 20%; left: 0; bottom: 10%; right: 0;
    }
    #edit-container {
        width: 95%;
        height: 65vh;
        top: 10%; left: 0; bottom: 0; right: 0;
    }
    #profile-container {
        width: 90%;
    }
}

/*
* -- MOBILE (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/


@media screen and (max-width: 48em) { 

  .home-menu {
      white-space: normal !important;
  }   

  .home-menu .pure-menu-heading {
      font-size: 1.5em;
      margin-left: 10%;
  }

  #login-container {
      margin-top: 20px;
  }

  .pure-u-1-3 {
      width: 100%;
      padding: 1em;
      box-sizing: border-box;
  }

  .pure-button {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
  }

  .home-menu .pure-button-1 {
    float: left;
    margin-left: 95%;
  }
  .home-menu .pure-menu-children  {
    margin-left: 85%;
  }

}


/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media screen and (min-width: 64em) {

  /* We increase the body font size */
  body {
      font-size: 16px;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  
  .home-menu {
      text-align: left;
      width: 100%;
      box-sizing: border-box;
  }

  .home-menu .pure-menu-heading {
      font-size: 1.25em;
  }
  .home-menu ul {
      float: right;
  }
  
  
  /* We decrease the width of the .splash, since we have more width
  to work with */
  .splash {
      width: 50%;
      height: 50%;
  }

  .splash-head {
      font-size: 250%;
  }


  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
      border: none;
  }

  .home-menu .pure-input-rounded {
    width: 80%;
  }
  
}
@media screen and (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
      font-size: 300%;
  }
  .home-menu .pure-input-rounded {
    width: 60%;
  }

  .home-menu .pure-button {
    width: auto;
    margin-right: 400px;
  }
 
}



